body {
  background-color: rgb(255, 255, 255);
}
#main-heading {
  text-align: center;
}

#detail-div {
  margin-left: 70px;
}

h3 {
  font-weight: 100;
  margin-bottom: -10px;
  /* letter-spacing: 1px; */
}

#name {
  text-decoration: underline;
}

#Work-div {
  margin-left: 30px;
}

h2 {
  text-decoration: underline;
  font-size: 17px;
}

p {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: -13px;
}

.prg {
  margin-bottom: -20px;
  margin-left: 100px;
  width: 33%;
  text-indent: 6px;
}
#reading-status {
  margin-left: 50px;
}

#scd {
  margin-left: 10px;
}
.name {
  display: flex;
  flex-direction: row;
}

.brr {
  color: black;
}
